/*    font-family: 'Asap', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Open Sans', sans-serif;
    */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
header{
    background-color: #2e64a1;
    padding: 16px; /*Me da un espacio para que quede lindo*/
}

header h1{
    color: white;
    font-weight: 300;
    font-style: italic;
    display: inline;
    position: relative; /*Position relativa y el bottom ayudan a centrar el titulo*/
    bottom: 35px;
    margin-left: 12px;
}
nav{
    background-color: #6da9ed;
    margin-bottom: 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /*justify-content: space-between;*/
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    padding: 5px 0;
    justify-content: space-evenly;
}

nav ul li a:hover{
    background-color: rgb(0, 0, 0,0.3);
    /*Cambia el color cuando posas el mouse sobre la lista*/
}

nav ul li a.activo{
    background-color: #4c76a5;
}

footer{
    background-color: #ddd;
    padding: 25px 0;
    text-align: center;
    margin-top: 20px;
}

.holder{
    width: 960px;
    margin: 0 auto;
    
}
h2{
    color: #2e64a1;
    font-weight: 500;
}
.columnas{ /*Esto separa ambos h2*/
    display: flex;
    gap: 20px;
}

.bienvenidos{
    width: 75%; /*El espacio que va a ocupar*/
    
}
.testimonios{
    width: 25%;
    margin-left: 20px;    
}

.testimonio{
    background-color: #ddd;
    padding: 16px;

}
.testimonios .cita{
    font-weight: bold;
    font-size: 20px;
    display: block;
    font-style: italic  ;
}
.testimonio .autor{
    font-size: 12px;
    margin: 16px 0;
    display: flex;
    justify-content: center;
}

.promos h3{
    font-family: 'Open Sans', sans-serif;
    color: #2e64a1;
    font-weight: 200
}

.promos img{
    display: flex;
    border-radius: 15px;
}
.promos{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 12px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: aliceblue;
}

.promos img:hover{
    transform: scale(1.1);
    filter: blur(2px);
}
.alojamiento img{
    border-radius: 15px;
}
.alojamiento img:hover{
    transform: scale(1.1);
    filter: blur(2px);
}



/*Fin Home*/

/*Nosotros*/


.historia p{
    font-size: 16px;

}

.personas{
    display: flex;
    /*gap: 20px;*/
    justify-content: space-between;
    
}

.persona{
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 15px 12px 5px;
    box-sizing: border-box;
    background-color: aliceblue;
}

.persona img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 2px black;
    
}

.persona h5,
.persona h6{
    margin: 0;
    color: #2e64a1;
    font-weight: normal;

}

.persona h5{
    font-size: 15px;
    margin-bottom: 10;
    

}

.persona h6{
    margin-top: 10;
    font-size: 13px;
    font-style: italic;

}

.persona p{
    font-size: 14px;
    text-align: left;
}
/*Fin Nosotros*/


/*Inicio Contacto*/


.contacto{
    display: flex;
    gap: 20px; /*Separa los elementos*/
    justify-content: space-around;/*Deja la pantalla en mitades*/
}

.contacto div{
    width: 100%;
}

.datos p{
    font-size: 14px;

}

.datos ul li{
    font-size: 14px;
    list-style: none;
}
.formulario p{
    display: flex;/*Acomoda elementos uno al lado del otro*/
}

.formulario p input,
.formulario p textarea{
    width: 70%;
    background-color: #ddd;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}
.formulario p label{
    width: 80px;
    display: flex;
    align-items: center;
}

.formulario textarea{
    height: 150px;
    resize: none;
}

.formulario p:nth-child(4){
align-items: start;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 4);
    font-size: 16px;
    padding: 6px;
    width: auto;
    margin-left: 80px;
    cursor: pointer;  
    transition: all 0.3s ease; 
}

/*Cambia el color cuando se pone el puntero encima*/
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;

}
/* Fin Contacto */

/* Inicio ayuda */

.ayuda h3{
    color: #2e64a1;
    font-weight: 400;

}

.ayudas{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.ayuda{

    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px 12px 5px;
    box-sizing: border-box;
    background-color: aliceblue;
    
}
.eleccion h2{
    text-align: start;
    color: #2e64a1;
    font-weight: 500;
}
.eleccion{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    background-color: aliceblue;
}


.consultas{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.consulta p input,
.consulta textarea{
    width: 70%;
    background-color: #ddd;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}
.consulta input[type="submit"]{
    background-color: #6da9ed;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 4);
    font-size: 16px;
    padding: 6px;
    width: auto;
    cursor: pointer;  
    border-radius: 10px;
    transition: all 0.3s ease; 
}
.consulta input[type="submit"]:hover{
    background-color: #2e64a1;

}